:root {
  --primary-bg: #18141c;
  --secondary-bg: #242029;
  --text-color: #ffb3e6;
  --accent-color: #ff4fa1;
  --hover-color: #ff79c6;
  --link-color: #ff79c6;
  --link-hover-color: #ff4fa1;
  --button-bg: #ff4fa1;
  --button-hover: #ff79c6;
}

body,
html {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: "Avenir", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
* {
  transition: all 0.3s ease-in-out;
}
